* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#yesBtn {
    border: solid green 6px;
    border-radius: 100%;
}

#noBtn {
    border: solid green 6px;
    border-radius: 100%;
}

a {
    text-decoration: none;
}

img {
    height: 15%;
    width: 20%;
}